@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background: white;
    border-radius: 10px;
}